.symbol {
  font-size: 60px;
  text-align: center;
}

.cardContainer {
  height: 100px;
  width: 80px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
